/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */
h3 {
  margin-bottom: 0;
}

img {
  width: 100%;
}

.user-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
}

/* STRUCTURE */
.wrapper {
  height: 100vh;
  background-image: url(../img/mine.jpg);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 1000px;
  background-color: white;
  display: flex;
}

/* SLIDER */
.slider {
  width: 40%;
  height: 100%;
  border: 1px solid black;
}

.slider .header-slider {
  height: 100px;
  width: 100%;
  background-color: aqua;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider .information {
  height: 100px;
  width: 100%;
  background-color: beige;
}

.slider .search-bar {
  height: 75px;
  width: 100%;
  background-color: lavenderblush;
}
.slider .contacts {
  height: calc(100% - 275px);
  width: 100%;
  background-color: lightgreen;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.slider .contacts .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* MAIN-APP */
.main-app {
  width: 60%;
  height: 100%;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-app .header-main {
  height: 100px;
  width: 100%;
  background-color: rgb(0, 92, 92);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-app .main-jumbo {
  height: calc(100% - 200px);
  width: 100%;
  background-color: blueviolet;
}

.main-app .input-bar {
  height: 100px;
  width: 100%;
  background-color: lightslategray;
}
